ngb-carousel {
  max-width: 700px;
  margin:0;
}

ngb-carousel img {
  width: 100%;
  outline: none;
  border-radius: 10px;
  max-width: 580px;
  max-height: 500px;
  margin-top: 25px;
  margin-right: 60px;
}

ngb-carousel {
  width: auto;
  height: auto;

}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}
.home-container *{
  display: inline;

}
.img-2{
  top: 0;
}
.img-2 #imagem2 img{
  border-radius: 10px;
margin: 0px 30px 0px 0px;
/*width: 230px;*/
width: 100%;
height: 294px;
max-width: 217px;
}
.img-2 #imagem1 {
  border-radius: 10px;
  margin: 0;
  width: 520px;
  height: 258px;
}
.img-2 #imagem1 img{
  width: 100%;
  max-width: 460px;

}
section
{
  display: flex;

}
section.caroulsel
{
  justify-content: right;
}
.icon-page{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  position: relative;
  height: 45px;
  margin-bottom: 160px;
}

.icons-page{
  display: inline-flex;
}
.icons-page img{
  margin-right: 15px;

 }
.banner1{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 144px;
}
.banner2{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 144px;
}
