<app-menu></app-menu>
<br>
<br>

<div>
  <h3>Adicionar Novo Estoque</h3>
</div>
<form class="example-container" [formGroup]="estoqueForm" (ngSubmit)="addEstoque(estoqueForm.value)">
  <mat-form-field>
    <input matInput name="size" placeholder="Tamanho" formControlName="size">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput name="amount" placeholder="Quantidade" formControlName="amount">
  </mat-form-field>
  <br>
  <div class="btn">
  <button type="submit" [disabled]="!estoqueForm.valid" mat-raised-button color="primary"  >Adicionar</button>
</div>
</form>
<br>
<br>
<div class="btn">
<button mat-raised-button color="primary" routerLink="/adm/produtos" routerLinkActive="active">Voltar a lista</button>
</div>
