<div class="header-footer">
  <h6>ESTEJA EM CONTATO CONOSCO</h6>
  <input type="text" placeholder="Seu email">
  <button>INSCREVER-SE</button>
  <img src="assets/logoFb.svg">
  <img src="assets/logoPint.svg">
  <img src="assets/logoInsta.svg">
</div>
<div class="info-footer">
  <ul>
    <li>
      <h3>CATEGORIAS</h3>
      <a href="#">Saida de praia</a>
      <a href="#">Vestido</a>
      <a href="#">Saia</a>
      <a href="#">Blusa</a>
    </li>
    <li>
      <h3>INFORMAÇÕES</h3>
      <a href="#">Sobre nós</a>
      <a href="#">Entre em contato conosco</a>
      <a href="#">Blog</a>
      <a href="#">Saida de praia</a>
    </li>
    <li>
      <h3>LINKS ÚTEIS</h3>
      <a href="#">Termos e condições</a>
      <a href="#">Devolução e trocas</a>
      <a href="#">Envio e entrega</a>
      <a href="#">Política de privacidade</a>
    </li>
    <li>
      <h3>CONTATE-NOS</h3>
      <a href="#"><img src="assets/iconlocal.svg"> Pernanbuco</a>
      <a href="#"><img src="assets/telefoneico.svg"> (98) 98888-2290</a>
      <a href="#"><img src="assets/emailico.svg"> estlise@gmail.com</a>
    </li>
  </ul>
</div>
<div class="footer-img">
  <p>Copyright 2022 todos os direitos reservados</p>
  <img src="assets/pixlogo.svg">
  <img src="assets/mastercardlogo.svg">
  <img src="assets/visalogo.svg">
  <img src="assets/elo.svg">
  <img src="assets/hipercardlogo.svg">
  <p>Desenvolvido por Raphael Azevedo e Guilherme</p>
</div>
