<header>
  <app-navbar></app-navbar>
</header>

<body id="bd-empresa">

  <div id="site">
    <div id="conteudo" class="grupo">
      <section id="conteudo-principal">

        <h1>Empresa</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc malesuada eros lorem, nec commodo justo.
          Duis semper feugiat turpis, sed commodo nisi semper et. Maecenas et elit leo. Duis posuere elementum nulla vitae tempor. Ut ut quam non odio dapibus facilisis.
        </p>

        <h2>Missão</h2>

        <p>
          Curabitur dapibus porta laoreet. Proin venenatis, sapien a scelerisque cursus, tortor enim vestibulum velit, quis dictum ipsum justo eget purus. Duis vestibulum pharetra scelerisque.
          Aenean feugiat, nunc tristique fermentum venenatis, urna turpis mattis turpis, non aliquet elit metus et metus. Vivamus sagittis nulla at leo vestibulum ac bibendum nulla tincidunt.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mi leo, pharetra non tincidunt in, elementum nec erat.
        </p>

        <h2>Valores</h2>

        <ul>
          <li>Morbi porttitor risus tortor, sit amet faucibus arcu.</li>
          <li>Pellentesque eget libero libero, in hendrerit magna.</li>
          <li>Etiam condimentum sapien id mi imperdiet auctor.</li>
          <li>Curabitur hendrerit imperdiet mollis.</li>
        </ul>

      </section>
    </div>
  </div>

  </body>
  <app-footer></app-footer>
